/* 
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgb(94, 118, 155);
    text-align: center;
    text-decoration: none;
  }
  .dropdown {
    float: left;
    overflow: visible;
    margin-right: 40px;
  }
  
  .dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: rgb(94, 118, 155);
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropbtn:hover {
    border-bottom: 2px solid rgb(94, 118, 155);
    font-weight: bolder;
  }
  
  .navbar a:hover,
  .dropdown:hover .dropbtn {
    text-decoration: grey;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    height: 400px;
    width: 1000px;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(94, 118, 155);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
  }
  
  .dropdown-content a:hover {
    background-color: white;
    color: rgb(27, 48, 83);
    font-weight: bolder;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .navbar-image {
    width: 453px;
    height: 50px;
    margin: auto;
    padding-top: 0px;
  }
  .navbar-image img {
    width: 208px;
    height: 50px;
    margin-left: 25%;
  }
  
  /* ----modal----- */
  /* .modal {
    display: none; /* Hidden by default */
    /* position: fixed; Stay in place */
    /* z-index: 100; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    /* left: 0; */
    /* top: 0;
    width: 100%; /* Full width */
    /* height: 100%; /* Full height  */
    /* overflow: auto; Enable scroll if needed */
    /* background-color: rgb(0, 0, 0); /* Fallback color */
    /* background-color: rgba(0, 0, 0, 0.4); Black w/ opacity  */
  /* }  */ 
  
  /* Modal Content */
  /* .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    height: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.5s;
  }
  
  .close {
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    cursor: pointer;
  }
  
  .modal-header {
    padding: 20px 16px;
  }
  
  .modal-body {
    padding: 2px 16px;
  }
  
  .modal-footer {
    padding: 2px 16px;
  }
  
  /* -------head------- */
  /* .header-list {
    height: 30px;
    width: 700px;
    float: right;
    margin-right: 130px;
  }
  
  .header-list-menu {
    width: 450px;
    height: 100%;
    float: right;
    font-size: 16px;
    cursor: pointer;
  }
  
  .header-list-menu i {
    padding-left: 20px;
    color: rgb(94, 118, 155);
    word-spacing: 5px;
  }
  
  .slidediv {
    width: 98.5vw;
    height: 36px;
    background-color: rgb(215, 235, 242);
  }
  #slideh {
    font-size: 10px;
    text-align: center;
    font-weight: lighter;
    padding-top: 10px;
    word-spacing: 1px;
    letter-spacing: 1px;
    animation: slide-right 8s infinite;
    animation-delay: 2s;
  }   */
   
  /* @keyframes slide-right {
    from {
      margin-right: -100%;
    }
    to {
      margin-right: 1600px;
    }
  } */
/*   
  .modal-body {
    margin: 3%;
    display: grid;
    gap: 6%;
    grid-template-columns: 20% 20% 20% 20%;
    row-gap: 9%;
    margin-left: 6%;
  }
  
  .innerdiv {
    border: 1px solid black;
    text-align: center;
  }
  
  #footer {
    width: 1300px;
    height: 300px;
    padding: 35px 44px 50px;
    font-family: "Montserrat", sans-serif;
    color: #12284c;
  }
  #f_cont {
    width: 1260px;
    height: 250px;
    margin: auto;
    display: flex;
  }
  #f_cont input {
    border: 0;
    outline-style: none;
  }
  #f_cont input::placeholder {
    font-size: 15px;
    color: #12284c;
    font-weight: 300;
    letter-spacing: 0.2px;
    font-family: "Montserrat", sans-serif;
  }
  #f_cont > div:nth-child(1) {
    width: 300px;
    background-color: white;
  }
  #f_cont > div:nth-child(1) > p:nth-child(1) {
    line-height: 24px;
    letter-spacing: 0.2px;
    font-size: 14px;
    font-weight: 600;
  }
  #f_cont > div:nth-child(1) > p:nth-child(3) {
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.2px;
    width: 270px;
    margin-top: 20px;
  }
  #icons {
    display: flex;
    width: 250px;
    height: 25px;
    justify-content: space-between;
    margin-top: 19px;
  }
  #f_cont > div:nth-child(1) > p:nth-child(5) {
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0;
    margin-top: 20px;
  }
  #f_cont > div:nth-child(1) > div:nth-child(2) {
    width: 260px;
    height: 30px;
    border-bottom: 1px solid black;
    margin-top: 18px;
  }
  #f_cont > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-left: 100px;
  }
  #f_cont > div:nth-child(2) div {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding-top: 10px;
    width: 250px;
  }
  .fh {
    font-size: 14px;
    margin-bottom: 15px;
  } */

  .Allbran{
    margin-left: 3%;
    padding-top: 3%;
   }
     .brandnav {
      background-color: #12284c;
      color: #D7EBF2;
  
      font-size: 16px;
     
      text-align: center; 
  
     } 
     .firstco {
      height: 100px;
      text-align: left;
      padding-top: 5%;
      padding-bottom: 25%;
      background-color: #f4fafc;
      font-size: 30px;
      font-family: 20px "Montserrat Regular", sans-serif;
      line-height: 30px;
      letter-spacing: 1px;
      color: #12284c;
      padding-left: 150px;
      padding: 0px 0px 13px
    }
   
    .secondco {
      width: 85%;
      height: 80px;
      padding-top: 60px;
  
      margin-left: 150px;
    }
    
    .alphabet {
      display: flex;
      width: 700;
      height: 20px;
      margin-left: 150px;
  
      margin-right: 150px;
      justify-content: space-evenly;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      line-height: 25px;
      color: #12284c;
      font-weight: 400;
      cursor: pointer;
    }
    .thirdco {
      /* justify-content: center; */
      /* text-align: center; */
  
      width: 85%;
      margin-left: 8%; 
    }
    .letterbox {
      text-align: left;
    
      font-weight: 400;
      margin-left: 0px;
      font-style: normal;
      color: #12284c;
      font-family: "Montserrat", sans-serif;
      line-height: 30px;
      letter-spacing: 1px;
      font-size: 28px;
    }
    .item_box {
      margin-top: 10px;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-evenly;
    }
    .item_box > div {
      width: 200px;
      display: flex;
      flex-direction: column;
    }
    .item_box > div div {
      margin-bottom: 10px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: #12284c;
      line-height: 1.65;
      font-size: 14px;
    } 