
  .Allbran{
    margin-left: 3%;
    padding-top: 3%;
   }
     .brandnav {
      background-color: #12284c;
      color: #D7EBF2;
  
      font-size: 16px;
     
      text-align: center; 
  
     } 
     .firstco {
      height: 100px;
      text-align: left;
      padding-top: 5%;
      padding-bottom: 25%;
      background-color: #f4fafc;
      font-size: 30px;
      font-family: 20px "Montserrat Regular", sans-serif;
      line-height: 30px;
      letter-spacing: 1px;
      color: #12284c;
      padding-left: 150px;
      padding: 0px 0px 13px
    }
   
    .secondco {
      width: 85%;
      height: 80px;
      padding-top: 60px;
  
      margin-left: 150px;
    }
    
    .alphabet {
      display: flex;
      width: 700;
      height: 20px;
      margin-left: 150px;
  
      margin-right: 150px;
      justify-content: space-evenly;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      line-height: 25px;
      color: #12284c;
      font-weight: 400;
      cursor: pointer;
    }
    .thirdco {
      /* justify-content: center; */
      /* text-align: center; */
  
      width: 85%;
      margin-left: 8%; 
    }
    .letterbox {
      text-align: left;
    
      font-weight: 400;
      margin-left: 0px;
      font-style: normal;
      color: #12284c;
      font-family: "Montserrat", sans-serif;
      line-height: 30px;
      letter-spacing: 1px;
      font-size: 28px;
    }
    .item_box {
      margin-top: 10px;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-evenly;
    }
    .item_box > div {
      width: 200px;
      display: flex;
      flex-direction: column;
    }
    .item_box > div div {
      margin-bottom: 10px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: #12284c;
      line-height: 1.65;
      font-size: 14px;
    } 